mat-form-field {
  width: 100%
}

.fila {
  display: flex;
}

.columna {
  flex: 50%;
  margin: 0 5vw;
  width: 100%;

}

.fecha {
  margin: 0 25%;
  width: 50%;
}

mat-hint {
  display: flex;
  color: red;
}
