<h3> Modificar datos</h3>

<form [formGroup] = 'caracteristica' (ngSubmit) = 'editar()'>
  <div class = 'fila'>
    <div class = 'columna'>
      <mat-form-field>
        <mat-label>
          Valor
        </mat-label>
        <input matInput formControlName = 'valor' type = "text" placeholder = 'Ingrese el nuevo valor.'>
      </mat-form-field>
    </div>

    <div class = 'columna'>
      <mat-form-field>
        <mat-label>
          Dato a cambiar
        </mat-label>
        <mat-select formControlName = 'elemento'>
          <mat-option *ngFor = 'let valor of lista' [value] = 'valor'> {{ valor }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button mat-button type="submit">
    Editar
  </button>

  <button mat-button (click) = 'cerrar()'>
    Cerrar
  </button>
</form>

